.classpath
.checkstyle
.ruleset
.pmd
.project
.settings
target
*.foma
*.ufomao
.idea
*.iml
dependency-reduced-pom.xml
bundles/rse-doc/shared-doc/
etrog_doc/build/
etrog_doc/en/bt.common.version.txt
etrog_doc/en/pipe.xml
etrog_doc/en/relversion.txt
*.pyc
*~
bundles/doc/shared-doc
doc/build
doc/en/bt.common.version.txt
doc/en/pipe.xml
doc/en/relversion.txt
ivy
doc/en/postags
accuracy/src/test/resources/com/basistech/rosette/qa/integration/*.txt
dictionaries/src/main/*
dictionaries/data
dictionaries/sbn
*.sentences
foo
graphs/
